<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-block card-block__bg">
        <h2 class="card-block__text">Manufacturers</h2>
      </div>
      <div class="card-block">
        <table class="table">
          <tr>
            <th>Manufacturer</th>
            <th>Country</th>
            <th>Available Models</th>
            <th></th>
          </tr>
          {{#each model as |manufacturer|}}
          <tr>
            <td>{{manufacturer.name}}</td>
            <td>{{manufacturer.country}}</td>
            <td>0</td>
            <td>{{#link-to "manufacturer.car" manufacturer.id}}See More{{/link-to}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

{{outlet}}

{{outlet}}
