
$c-primary-0: #B6473E;
$c-primary-1: #FFC7C2;
$c-primary-2: #DD7E77;
$c-primary-3: #801A12;
$c-primary-4: #560600;
$c-white: #ffefed;
$c-black: #0f0d0d;

$m-gutter: 1rem;

$s-shadow-1: 4px 6px 20px -2px $c-black;
$s-shadow-2: 2px 4px 10px -1px $c-black;

@import 'reset';
