<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-block card-block__bg">
        <h2 class="card-block__text">Welcome to Razer!</h2>
      </div>
      <div class="card-block">
        <h3 class="card-block__text">We're glad you're here.</h3>
        <p class="card-block__text">Your stop for every car stat imaginable!</p>
         <p>{{#link-to "manufacturer.index"}}<p class="button is-link">See all Manufacturers</p>{{/link-to}}</p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
