<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-block card-block__bg">
        <h2 class="card-block__text">Makes</h2>
      </div>
      <div class="card-block">
        <table class="table">
          <tr>
            <th>Manufacturer</th>
            <th>Country</th>
            <th>Available Models</th>
            <th></th>
          </tr>
          <tr>
            <td>Mazda</td>
            <td>JPN</td>
            <td>0</td>
            <td>See More</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{{outlet}}
