<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-block card-block__bg">
        <h2 class="card-block__text">Add a New Make</h2>
      </div>

    <div class="card-block">
        <form class="form" {{action "save" on="submit"}}>
          <div class="input-block">{{input type="text" placeholder="Make" class="form__input" value=formValues.name}}</div>
          <div class="input-block">{{input type="text" placeholder="ISO Country Code" class="form__input" value=formValues.country}}</div>
          <div class="action-buttons">
            {{#link-to "manufacturer.index" class="button is-link"}}Back{{/link-to}}
            <button type="submit" class="button is-submit">Submit</button>
          </div>
      </form>
    </div>
    </div>
  </div>
</div>

{{outlet}}
