<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-block card-block__bg">
        <h2 class="card-block__text">Mazda</h2>
      </div>
      <div class="card-block card-block__button-right">
         <p class="button is-link">{{#link-to "make.car.new"}}Add New Model{{/link-to}}</p>
      </div>
    </div>
    <div class="grid">
      <div class="grid__item">
        <div class="card">
          <div class="card-block card-block__bg">
            <h2 class="card-block__text">2001 Ford Ranger</h2>
          </div>
          <div class="card-block">
            <p class="card-block__text">HP: 3</p>
            <p class="card-block__text">Price: $500</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
